.item {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  height: 100px;
  width: 350px;
  transform: perspective(1500px) rotateY(15deg);
  transition: transform 1s ease 0s;
}

.item:hover {
  transform: perspective(3000px) rotateY(0deg);
}

.status {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  margin: 20px;
}
.avatar {
  width: 60px;
  height: 60px;
}
.name {
  font-size: 24px;
  font-weight: 700;
  margin: 0 20px;
}
